<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style/style.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/systemjs/0.21.0/system.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="hand one"></div>
        <div class="hand two"></div>
        <div class="hand three"></div>
        <div class="hand four"></div>
        <div class="hand five"></div>
        <div class="hand six"></div>
        <div class="hand seven"></div>
        <div class="hand eight"></div>
        <div class="count"></div>
    </div>


    <script>
        SystemJS.import('/js/Bighand.js').then(function (m) {
            $.fn.BigHand = function () {
                return new m.default(this);
            };
            $('.container').BigHand();
        });
    </script>
</body>

</html>